.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "成大選課小幫手", root_path, class: "navbar-brand"
    .navbar-collapse.collapse
      - if session[:institute_code] && session[:grade]
        %ul.nav.navbar-nav.navbar-left
          %li
            = link_to "清除系級設定", clear_setting_path, method: :delete
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "建議", advice_path
        %li
          = link_to "關於本站", about_this_site_path
        %li
          = link_to "關於作者", about_creator_path
    / /.nav-collapse
