.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "成大選課小幫手", root_path, class: "navbar-brand"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to "建議", advice_path
        %li
          = link_to "關於", about_path
        %li
          = link_to "有用連結", useful_links_path
        - if user_has_finished_necessary_settings?
          %li
            = link_to "清除系級設定", clear_setting_path, method: :delete
      %ul.nav.navbar-nav.navbar-right
        .fb-like{"data-action" => "like", "data-href" => "https://ncku-select-course-helper.herokuapp.com/", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}
    / /.nav-collapse
