.form-group
  %h3= "目前修課"
  %table#course-list.table.table-striped
    %thead
      %tr
        %th
        %th 課名
        %th 學分
        %th 教師姓名
        %th 上課時間
        %th 上課地點
        %th 備註
    %tbody
      - courses.each do |course|
        %tr{:id => "list-#{course.id}"}
          %td
            = link_to '', remove_course_path(course_id: course.id), class: 'glyphicon glyphicon-remove', remote: true, method: :delete
            -#%i.glyphicon.glyphicon-remove
          %td.col-md-2= course.course_name.html_safe
          %td.col-md-1= course.credits
          %td.col-md-2= course.instructor
          %td.col-md-2= course.schedule#better_schedule_text(Course.find(course[:id])[:schedule])
          %td.col-md-2= course.classroom
          %td.col-md-3= course.remark

