.container
  .row
    .col-md-6
      = render partial: "course_table", locals: {courses: @courses}
    .col-md-6
      = render partial: "list_of_courses", locals: {courses: @courses}
  .row
    = render partial: "form", locals: {institute_code: @institute_code}
  .row
    #search-result
      = render partial: "search_result", locals: {search_result: @search_result}
%ul.nav.pull-left.scroll-top
  %li
    %a{:href => "#"}
      %i.glyphicon.glyphicon-chevron-up
= javascript_tag do
  window.obligatory_courses = #{@courses.to_json.html_safe}
