.container
  .col-md-6
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th
            %th.monday.select-this-day-free-time 一
            %th.tuesday.select-this-day-free-time 二
            %th.wednesday.select-this-day-free-time 三
            %th.thursday.select-this-day-free-time 四
            %th.friday.select-this-day-free-time 五
        %tbody
          - ["1", "2", "3", "4", "N", "5", "6", "7", "8", "9"].each do |number|
            %tr.valid-td{:value => number}
              %td.col-md-2= number
              - ["monday", "tuesday", "wednesday", "thursday", "friday"].each do |day|
                %td{:class => "#{day} col-md-2"}
                -#%td{:class => "#{day} #{'danger' if user_has_class?(number, day)}"}
  .col-md-6
    .form-group
      %h3= "目前必修課"
      %table.table.table-striped
        %thead
          %tr
            %th 課名
            %th 學分
            %th 教師姓名
            %th 上課時間
            %th 上課地點
            %th 備註
        %tbody
          - @obligatory_courses.each do |obligatory_course|
            %tr
              %td.col-md-2= obligatory_course[:course_name].html_safe
              %td.col-md-1= obligatory_course[:credits]
              %td.col-md-2= obligatory_course[:instructor]
              %td.col-md-2= better_schedule_text(Course.find(obligatory_course[:id])[:schedule])
              %td.col-md-2= obligatory_course[:classroom]
              %td.col-md-3= obligatory_course[:remark]
      -#- @obligatory_courses.each do |obligatory_course|
        -#%div
          -#%label
            -#= obligatory_course[:course_name].html_safe
          -#= obligatory_course[:credits]
    %hr
    = form_tag search_path do
      .form-group
        %h3 系上專業選修課
        .checkbox
          %label
            = hidden_field_tag('elective[freshman]', nil)
            = check_box_tag('elective[freshman]')
            大一
          %label
            = hidden_field_tag('elective[sophomore]', nil)
            = check_box_tag('elective[sophomore]')
            大二
          %label
            = hidden_field_tag('elective[junior]', nil)
            = check_box_tag('elective[junior]')
            大三
          %label
            = hidden_field_tag('elective[senior]', nil)
            = check_box_tag('elective[senior]')
            大四
      .form-group
        %h3 核心通識
        .checkbox
          %label
            = hidden_field_tag('core[basic_chinese]', nil)
            = check_box_tag('core[basic_chinese]')
            基礎國文
          %label
            = hidden_field_tag('core[freshman_english]', nil)
            = check_box_tag('core[freshman_english]')
            大一英文
          %label
            = hidden_field_tag('core[sophomore_english]', nil)
            = check_box_tag('core[sophomore_english]')
            大二英文
          %label
            = hidden_field_tag('core[citizenship_history]', nil)
            = check_box_tag('core[citizenship_history]')
            公民與歷史
          %label
            = hidden_field_tag('core[philosophy_art]', nil)
            = check_box_tag('core[philosophy_art]')
            哲學與藝術
      .form-group
        %h3 跨領域通識
        .checkbox
          %label
            = hidden_field_tag('cross[integrated]', nil)
            = check_box_tag('cross[integrated]')
            科際整合
          %label
            = hidden_field_tag('cross[science_engineering]', nil)
            = check_box_tag('cross[science_engineering]')
            自然與工程科學
          %label
            = hidden_field_tag('cross[life_science_health]', nil)
            = check_box_tag('cross[life_science_health]')
            生命科學與健康
          %label
            = hidden_field_tag('cross[humanities]', nil)
            = check_box_tag('cross[humanities]')
            人文學
          %label
            = hidden_field_tag('cross[social_science]', nil)
            = check_box_tag('cross[social_science]')
            社會科學
      .form-group
        %input{:type => "hidden", :name => "freetime[1]", :id => "monday"}
        %input{:type => "hidden", :name => "freetime[2]", :id => "tuesday"}
        %input{:type => "hidden", :name => "freetime[3]", :id => "wednesday"}
        %input{:type => "hidden", :name => "freetime[4]", :id => "thursday"}
        %input{:type => "hidden", :name => "freetime[5]", :id => "friday"}
      = submit_tag "找課", class: "btn btn-success"
.container
  .row
    - if @courses
      - @courses.each do |type, array_of_courses|
        - if array_of_courses.present?
          %h3= type_english_to_chinese(type)
          .table-responsive
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th
                  %th 系號
                  %th 序號
                  %th 班別
                  %th 年級
                  %th 類別
                  %th 英語授課
                  %th 課程名稱
                  %th 必選修
                  %th 學分
                  %th 教師姓名
                  %th 已選課人數
                  %th 餘額
                  %th 時間
                  %th 教室
                  %th 備註
              %tbody
                - array_of_courses.each do |course|
                  %tr
                    - course_column_names.each do |column_name|
                      - if column_name != "id"
                        - if column_name == "icon"
                          %td
                            %i.glyphicon.glyphicon-plus
                            -#%a{:href => "#"}
                              -#%i.glyphicon.glyphicon-plus
                        - elsif column_name == "course_name"
                          %td= course[column_name].html_safe
                        - elsif column_name == "taught_in_english"
                          %td= (course[column_name] ? "是" : "否")
                        - elsif column_name == "schedule"
                          %td= better_schedule_text(course[column_name])
                        - else
                          %td= course[column_name]
= javascript_tag do
  window.obligatory_courses = #{@obligatory_courses.to_json.html_safe}
